<br>
<p class="error"> {{error}}</p>
<form method="POST" id="signup-form" class="new-post-form" action="/signup">
		<label id="formLabel">
            <h3>Firstname:</h3>
            <br>
			<input type="text" id ="firstName" name="firstName" class="full-width-input" value="{{firstName}}"/>

            <h3>LastName:</h3>
            <br>
			<input type="text" id ="lastName" name="lastName" class="full-width-input" value="{{lastName}}"/>

            <h3>Email:</h3>
            <br>
			<input type="text" id ="email" name="email" class="full-width-input" value="{{email}}"/>

            <h3>Pfp:</h3>
            <br>
			<input type="text" id ="pfp" name="pfp" class="full-width-input" value="{{pfp}}"/>

            <h3>City:</h3>
            <br>
			<input type="text" id ="city" name="city" class="full-width-input" value="{{city}}"/> 

            <h3>State:</h3>
            <br>
			<input type="text" id ="state" name="state" class="full-width-input" value="{{state}}"/>  

            <h3>Age:</h3>
            <br>
			<input type="text" id ="age" name="age" class="full-width-input" value="{{age}}"/>  

            <h3>PlanToVisit:</h3>
            <br>
			<input type="text" id ="planToVisit" name="planToVisit" class="full-width-input" value="{{planToVisit}}"/>   

            <h3>username:</h3>
            <br>
			<input type="text" id ="username" name="username" class="full-width-input" value="{{username}}"/>

            <h3>password:</h3>
            <br>
            <input type="text" id ="password" name="password" class="full-width-input" value="{{password}}"/>
			<button type="submit">Register</button>
		</label>
	</form>
<a href="/login">Already have an account? Click here to log-in</a>  
<br>