<br>
<p class="error"> {{error}}</p>
<form method="POST" id="add-hotel-form" class="new-post-form" action="/addhotel">
		<label id="formLabel">
                    <h3>Name:</h3>
                    <br>
                    <input type="text" id ="name" name="name" class="full-width-input" value="{{name}}"/>

                    <h3>PhoneNumber:</h3>
                    <br>
                    <input type="text" id ="phoneNumber" name="phoneNumber" class="full-width-input" value="{{phoneNumber}}"/>

                    <h3>Website:</h3>
                    <br>
                    <input type="text" id ="website" name="website" class="full-width-input" value="{{website}}"/>

                    <h3>Address:</h3>
                    <br>
                    <input type="text" id ="address" name="address" class="full-width-input" value="{{address}}"/> 

                    <h3>City:</h3>
                    <br>
                    <input type="text" id ="city" name="city" class="full-width-input" value="{{city}}"/>

                    <h3>State:</h3>
                    <br>
                    <input type="text" id ="state" name="state" class="full-width-input" value="{{state}}"/>

                    <h3>zip:</h3>
                    <br>
                    <input type="text" id ="zip" name="zip" class="full-width-input" value="{{zip}}"/>

                    <h3>amenities:</h3>
                    <br>
                    <input type="text" id ="amenities" name="amenities" class="full-width-input" value="{{amenities}}"/>

                    <h3>nearbyAttractions:</h3>
                    <br>
                    <input type="text" id ="nearbyAttractions" name="nearbyAttractions" class="full-width-input" value="{{nearbyAttractions}}"/>

                    <h3>Images:</h3>
                    <br>
                    <input type="text" id ="images" name="images" class="full-width-input" value="{{images}}"/>

			<button type="submit" class="btn btn-primary btn-lg">Login</button>
		</label>
	</form>
<a href="/management">Return to management page</a>  
<br>