<article class="post">
  <button id="addHotel">Add this hotel to my Plan</button>
  <div><h1 id="hotelName">{{name}}</h1></div>

  <img class = "resize" src="{{images}}", alt="{{name}}">


  <h2 class = "indent">PhoneNumber</h2>
  <h4 class = "small-indent">{{phoneNumber}}</h4>


  <h2 class = "indent">Website</h2>
  <a href="{{website}}">{{website}}</a>


  <h2 class = "indent">Address</h2>
  <h4 class = "small-indent">{{address}}</h4>


  <h2 class = "indent">City</h2>
  <h4 class = "small-indent">{{city}}</h4>

  <h2 class = "indent">State</h2>
  <h4 class = "small-indent">{{state}}</h4>

  <h2 class = "indent">Zip</h2>
  <h4 class = "small-indent">{{zip}}</h4>

  
  <h2 class = "indent">OverallRating</h2>
  <h4 class = "small-indent">{{overallRating}}</h4>

  {{#if amenities.length}}
    <h2 class = "indent">Amenities</h2>
    <ul>
      {{#each amenities}}
        <li>{{this}}</li>
      {{/each}}
  {{/if}}

    </ul>
  {{#if nearbyAttractions.length}}
    <h2 class = "indent">NearbyAttractions</h2>
    <ul>
      {{#each nearbyAttractions}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if reviews.length}}
    <h2>Reviews</h2>
    <ul>
      {{#each reviews}}
        <div class="jumbotron text-center">
        <li><h3>Review Content:</h3></li>
        <li><h4>{{this.reviewText}}</h4></li>
        <li><h3>Rating:</h3></li>
        <li><h4>{{this.rating}}</h4></li>
        <li><h3>Reviewer:{{this.userName}}</h3></li>
        </div>
      {{/each}}
    </ul>
  {{/if}}

 
  

  <p class="error"> {{error}}</p>
    <div class="jumbotron text-center">
        <h1>Review This Hotel</h1>
        <form action="/hotels/{{id}}" method="POST" id="reviewForm">
            <label for="reviewText">Review Content</label>
            <input type="text" id="reviewContent" name="reviewContent" value="{{reviewContent}}">
             <label for="reviewText">Rating(0-5)</label>
        
            <input type="text" id="rating" name="rating" value="{{rating}}">
            <input type="submit" value="Add Review" />
        </form>
    </div>

  <a href="/comments/{{id}}">Click here to look some comments</a>
</article>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../../public/js/individualScript.js"></script>
