<header>
        <h1>Management Profile</h1>
    </header>
    <main class="text-center">
        <div>
           <h3>Admin</h3> 
        </div>
        <div>
            <h3>Hotels</h3>
             <ul>
                {{#if hotels.length}}
                {{#each hotels}}  
                <li><h4>{{name}}</h4></li>
                <li>{{address}}</li>
                {{/each}}
                {{else}}
                <p class="not-found">There is no hotels.</p>
                {{/if}}
      </ul> 

        </div>
        <div>
            <h3>Modify Hotel (Update, Add, Remove)</h3>
            <a href="/management/addhotel">Click here to add hotel</a>  

            {{#if hotels.length}}
            <ul>
                {{#each hotels}}
                <li>{{name}}<a style="position: absolute;right: 200px; " href="/management/hotel/{{_id}}">Delete</a><a style="position: absolute;right: 100px; "href="/management/updatehotel/{{_id}}">Update</a></li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="../../public/js/management.js"></script>