 <header>
        <h1>{{title}}</h1>
    </header>
    <main class="text-center">
        <div>
           <h2>Welcome {{name}}!</h2> 
        </div>
        <h2>Email</h2>
        <h4>{{email}}</h4>


        <h2>pfp</h2>
        <h4>{{php}}</h4>


        <h2>City</h2>
        <h4>{{city}}</h4>

        <h2>State</h2>
        <h4>{{state}}</h4>

        <h2>Age</h2>
        <h4>{{age}}</h4>

  

        {{#if planToVisit.length}}
        <h2>planToVisit</h2>
        <ul>
        {{#each planToVisit}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        {{/if}}


        {{#if reviews.length}}
        <h2>Your Reviews</h2>
        <ul>
        {{#each reviews}}
            <div class="jumbotron text-center">
            <li><h3>Hotel Name:</h3><a style="position: absolute;right: 200px; " href="/profile/{{_id}}">Delete</a></li>
            <li><h4>{{this.hotelName}}</h4></li>
            <li><h3>Review Content:</h3></li>
            <li><h4>{{this.reviewText}}</h4></li>
            <li><h3>Rating:</h3></li>
            <li><h4>{{this.rating}}</h4></li>
            <li><h3>Reviewer:{{this.userName}}</h3></li>
            </div>
        {{/each}}
        </ul>
        {{/if}}
    </main>
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="../../public/js/profile.js"></script>
