<br>
<h1 class="text-center">Sign up</h1>
<p class="error"> {{error}}</p>
<form method="POST" id="signup-form" class="new-post-form" action="/signup">
        <div class="row">
            <label id="formLabel">
                <div class="col-sm-6">
                    <h3>Firstname:</h3>
                    <br>
                    <input type="text" id ="firstName" name="firstName" class="full-width-input" value="{{firstName}}" required/>

                    <h3>Email:</h3>
                    <br>
                    <input type="text" id ="email" name="email" class="full-width-input" value="{{email}}" required/>

                    <h3>Profile Picture URL:</h3>
                    <br>
                    <input type="text" id ="pfp" name="pfp" class="full-width-input" value="{{pfp}}"/>

                    <h3>City:</h3>
                    <br>
                    <input type="text" id ="city" name="city" class="full-width-input" value="{{city}}"/> 

                    <h3>Username:</h3>
                    <br>
                    <input type="username" id ="username" name="username" class="full-width-input" value="{{username}}" required/>

            </div>
            <div class="col-sm-6">
                    <h3>Lastname:</h3>
                    <br>
                    <input type="text" id ="lastName" name="lastName" class="full-width-input" value="{{lastName}}" required/>

                    <h3>Age:</h3>
                    <br>
                    <input type="text" id ="age" name="age" class="full-width-input" value="{{age}}"/>  

                    <h3>Places Planning To Visit:</h3>
                    <br>
                    <input type="text" id ="planToVisit" name="planToVisit" class="full-width-input" value="{{planToVisit}}"/>   

                    <h3>State:</h3>
                    <br>
                    <input type="text" id ="state" name="state" class="full-width-input" value="{{state}}"/>        

                    <h3>Password:</h3>
                    <br>
                    <input type="password" id ="password" name="password" class="full-width-input" value="{{password}}" required/>
                </div>
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </label>      
        </div>
	</form>

<br>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../../public/js/registerScript.js"></script>